footer {
  height: 250px;
  background: linear-gradient(to right, #181818, #434343);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.social-medias a {
  padding: 0px 10px;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.social-medias a:hover {
  color: #555;
}

.attendance span{
  font-weight: bold;
}

@media (max-width: 798px){
  footer {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 20px;
    text-align: center;
  }
}